# Para o MySQL local criado pelo Docker
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=sosplus_01
MYSQL_USER=sosplus
MYSQL_PASSWORD=sosplus_dev_local
MYSQL_ROOT_PASSWORD=sosplus_root_dev_local

# Portas publicadas pelo Docker no computador
MYSQL_PUBLISHED_PORT=3306
API_PUBLISHED_PORT=3000

# Porta HTTP da API
PORT=3000
